@page
@model Webappunderthehood.Pages.Accounts.LoginModel
@{
}
 <div class="container" style="padding:20px">
    <form method="post"> 
        <div class="text-danger" asp-validation-summary="All" ></div>
        <div class="mb-3 row">

            <div class="col-2">
                <label asp-for="credential.UserName"></label>

            </div>
            <div class="col-5"> 
                <input type="text" asp-for="credential.UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="credential.UserName"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="credential.Password"></label>

            </div>
            <div class="col-5">
                <input type="text" asp-for="credential.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="credential.Password"></span>

            </div>
            </div>
            <div class="col-3">
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Login"/>


                </div>
            </div>

    </form>    
 </div>